.ant-skeleton-title,
.ant-skeleton-paragraph {
  margin: 0;
  margin-block-start: 0 !important;
}

.skeleton-title h3 {
  height: 24px !important;
  width: 50% !important;
  margin-bottom: 10px !important;
}

.skeleton-margin h3 {
  margin-bottom: 10px !important;
}

.price-placeholder h3{
  height: 28px !important;
  margin-bottom: 10px !important;
}

.price-placeholder .ant-skeleton-content {
  display: flex;
  justify-content: flex-end;
}

.price-subtitle .ant-skeleton-content {
  display: flex;
  justify-content: flex-end;
}
.price-subtitle h3 {
  width: 50% !important;
}

.select-flight-placeholder {
  width: 109px !important; 
}